/*
*= require_tree .
*= require_self
*/


@import "bootstrap";

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

$purple: #2D174C;
$white: #fff;

body {

  /* navigation */
  nav {
    font-size: 2em;
    padding-right: 50px;

    a,p {
      color: $white;
    }

    a:hover {
        text-decoration: none;
        color: $white;
        text-shadow: 0 0 5px $white;
    }

    &.navbar-inverse { background-color: $purple; }
  }

  /* footer */

  div.footer {
    text-align: center;
    background-color: $purple;
    color: $white;

    p { font-weight: bold }
  }

  /* text decoration */

  a {
    text-decoration: none;
    color: $purple;

    &:link { text-decoration: none; }
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }

  p { font-size: 18px; }

  h1 {
    padding-bottom: 20px;
    text-align: center;
  }

  div.navbar-text.navbar-right a { float: right; }

  span.user p { font-size: 16px; }

  /* forms */

  form {
    label {
      font-size: 18px;
      text-align: right;
    }
    input.btn { margin-top: 10px; }

    div { margin-bottom: 10px; }
  }

  /* tables */


  /* custom divs */

  div.row.center-block {
    border: 2px $purple solid;
    border-radius: 15px !important;
    width: 40%;
    padding: 5px 0px 20px 0px;
    background-color: $purple;
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: $white;
  }

  /* bootstrap divs */

  .row-centered {
      text-align:center;
  }

  .col-centered {
      display:inline-block;
      float:none;
      /* reset the text-align */
      text-align:centered;
      /* inline-block space fix */
      margin-right:-4px;
  }

  .btn {
     background-color: $purple;
     border-radius: 7px !important;
     min-width: 40px !important;

     &:hover { background-color: $purple; }

     &.btn-success { background-color: #3EB565; }
     &.btn-info { background-color: #36D0EB; }
     &.btn-danger { background-color: #F96153; }
  }



}
