/*
*= require_tree .
*= require_self
*/


@import "bootstrap";

@mixin opacity-box {
  border: 2px $purple solid;
  border-radius: 15px !important;
  padding: 5px 0px 20px 0px;
  background-color: $purple;
  opacity: 0.7;
  filter: alpha(opacity=70);
  color: $white;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

$purple: #2D174C;
$white: #fff;


body {
  /* navigation */
  nav {
    font-size: 2em !important;

    a {
      color: $white !important;
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        color: $white;
        text-decoration: none;
        text-shadow: 0 0 5px $white;
      }
    }

    &.navbar-inverse { background-color: $purple; }
    ul.dropdown-menu li a { color: $purple !important}
  }

  /* footer */

  div.footer {
    text-align: center;
    background-color: $purple;
    color: $white;
  }

  /* text decoration */

  a {
    text-decoration: none;
    color: $purple;

    &:link { text-decoration: none; }
    &:active { text-decoration: none !important; }
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }

  p { font-size: 18px; }

  h1 {
    padding-bottom: 20px;
    text-align: center;
  }

  div.navbar-text.navbar-right a { float: right; }
  span.user p { font-size: 16px; }

  /* forms */

  form {
    label {
      font-size: 18px;
      text-align: right;
    }
    input.btn { margin-top: 10px; }

    div { margin-bottom: 10px; }
  }

  /* custom divs */

  #gravatar {
    padding: 0px;
    width: 100%;
    border-bottom-left-radius: 10px !important;
  }

  .no-padding { padding: 0px; }
  .extra-padding {
    padding: 10px 10px 10px 20px;
    text-align: left;
  }

  .full-image {
    margin-top: 0px !important;
    background-image: image-url("headphones_tablet.jpg");
  }

  div.row.center-block {
    @include opacity-box;
  }

  #user-box {
    @include opacity-box;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  /* bootstrap divs */
  .container-fluid {
    height: 100%;
  }

  .row-centered {
    text-align:center;
    padding-bottom: 50px;;
  }

  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:centered;
    /* inline-block space fix */
    margin-right:-4px;
  }

  .btn {
     background-color: $purple;
     border-color: $white;
     border-radius: 7px !important;
     min-width: 40px !important;
     color: $white;

     &:hover {
       border-color: $white;
       background-color: $purple;
       color: $white;
     }

     &.btn-success { background-color: #3EB565; }
     &.btn-info { background-color: #36D0EB; }
     &.btn-danger { background-color: #F96153; }
  }

  .row {
    padding-top: 20px;
  }
  .col-centered {
    #main {
      background-color: $white;
      border-radius: 5px !important;
      opacity: 0.7;
      h1, th {
        color: #000;
        font-weight: bold;
      }
      padding: 5px;
    }
  }
  #product-box { height: 400px; }



}
